* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

button {
  outline: none;
  transition: 0.2s;
  cursor: pointer;
}
button:hover {
  opacity: 0.7;
}

body {
  --app-background: #eaebf5;
  --chat-background: #fff;
  --link-color: #c0c1c5;
  --navigation-bg: #fff;
  --navigation-box-shadow: 0 2px 6px 0 rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
  --main-color: #F26325;
  --message-bg: #f3f4f9;
  --message-bg-2: #F26325;
  --message-text: #2c303a;
  --placeholder-text: #a2a4bc;
  --button-bg: #fff;
}

body.dark {
  --app-background: #222222;
  --navigation-box-shadow: 0px 0px 8px 0px #282b33;
  --chat-background: #3F3F3F;
  --message-bg: #1E1E1E;
  --message-text: rgba(255,255,255,0.8);
  --placeholder-text: #fff;
  --navigation-bg: #3F3F3F;
  --button-bg: #3F3F3F;
  --main-color: #F26325;
  --message-bg-2: #F26325;
}
body.dark .mic {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-mic-off' viewBox='0 0 24 24'%3E%3Cpath d='M1 1l22 22M9 9v3a3 3 0 005.12 2.12M15 9.34V4a3 3 0 00-5.94-.6'/%3E%3Cpath d='M17 16.95A7 7 0 015 12v-2m14 0v2a7 7 0 01-.11 1.23M12 19v4M8 23h8'/%3E%3C/svg%3E%0A");
}
body.dark .camera {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-camera-off' viewBox='0 0 24 24'%3E%3Cpath d='M1 1l22 22M21 21H3a2 2 0 01-2-2V8a2 2 0 012-2h3m3-3h6l2 3h4a2 2 0 012 2v9.34m-7.72-2.06a4 4 0 11-5.56-5.56'/%3E%3C/svg%3E%0A");
}

body.dark .screenshare {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 505.32 494.48'%3E%3Cdefs%3E%3Cstyle%3E.cls-1,.cls-2%7Bfill:%23fff;stroke:%23fff;stroke-miterlimit:10;%7D.cls-1%7Bstroke-width:12px;%7D.cls-2%7Bstroke-width:20px;%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M470.63,189.59c-2.18.79-4,3.73-5.51,5.44-2.23,2.58-4.43,5.14-6.5,7.84-3.9,5.1-8.25,9.44-12.44,14.23l0,0c0,160.51.07,156.4,0,156.4H36.69V95.11H309a15.89,15.89,0,0,1,1.25-2,13.11,13.11,0,0,1,.28-1.3,31.7,31.7,0,0,1,2.21-5,61.51,61.51,0,0,1,6.6-9.79,113,113,0,0,1,7.62-8.72,12.12,12.12,0,0,1,1.53-1.27H36.69c-15,0-27.17,12.57-27.17,28V373.52c0,15.45,12.19,28,27.17,28H169.86v69.14H96.48a14,14,0,0,0,0,28H386.36a14,14,0,0,0,0-28H313V401.54H446.15c15,0,27.18-12.57,27.18-28V187.61A5.78,5.78,0,0,1,470.63,189.59ZM285.81,470.68H197V401.54h88.78Z' transform='translate(-3.52 -10.23)'/%3E%3Cpath class='cls-2' d='M493.31,91.73l-70.07-67.1c-3.05-2.92-6.16-4.4-9.25-4.4-4.3,0-9.31,3.08-9.31,11.75V73.36a89.21,89.21,0,0,0-56.49,24.81,82,82,0,0,0-25.46,59.31,80.69,80.69,0,0,0,5,28.11,5.23,5.23,0,0,0,9.72,0c10.25-27.76,36.86-47.1,67.21-49.4v40.94c0,8.67,5,11.75,9.31,11.75,3.09,0,6.2-1.48,9.24-4.39l70.08-67.11a17.64,17.64,0,0,0,0-25.65ZM486,110.39,415.94,177.5c-.33.31-.63.57-.88.77a9.23,9.23,0,0,1-.06-1.14V131a4.86,4.86,0,0,0-1.53-3.52,5.31,5.31,0,0,0-3.63-1.43h0A90,90,0,0,0,359,142.17,85.48,85.48,0,0,0,334,169.1a71.53,71.53,0,0,1-.94-11.62c0-40.59,34.47-74,76.85-74.43a5.05,5.05,0,0,0,5.1-4.94V32c0-.44,0-.82.06-1.13.25.2.55.45.88.76L486,98.72a8,8,0,0,1,0,11.67Z' transform='translate(-3.52 -10.23)'/%3E%3C/svg%3E");
}
body.dark .record {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 480.82 480.82'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;stroke:%23fff;stroke-miterlimit:10;stroke-width:12px;%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M256,496.11A234.41,234.41,0,0,1,90.25,96a234.41,234.41,0,1,1,331.5,331.51A232.88,232.88,0,0,1,256,496.11Zm0-441.35C141.89,54.76,49.06,147.6,49.06,261.7S141.89,468.64,256,468.64,462.94,375.81,462.94,261.7,370.11,54.76,256,54.76Z' transform='translate(-15.59 -21.29)'/%3E%3Cpath class='cls-1' d='M256,367A105.31,105.31,0,1,1,361.3,261.7,105.42,105.42,0,0,1,256,367Zm0-183.14a77.84,77.84,0,1,0,77.83,77.83A77.92,77.92,0,0,0,256,183.87Z' transform='translate(-15.59 -21.29)'/%3E%3C/svg%3E");
}
body.dark .magnifier {
  color: #fff;
}
body.dark .chat-header {
  border-color: var(--message-bg);
}
body.dark .btn-close-right {
  color: #fff;
}

a {
  text-decoration: none;
}

.app-container {
  background-color: var(--app-background);
  width: 100%;
  height: 100%;
  font-family: "DM Sans", sans-serif;
  display: flex;
  transition: 0.2s;
}

.left-side {
  position: relative;
  padding: 16px;
  flex-basis: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.navigation {
  display: flex;
  flex-direction: column;
  background-color: var(--navigation-bg);
  padding: 24px;
  border-radius: 10px;
  box-shadow: var(--navigation-box-shadow);
}

.nav-link + .nav-link {
  margin-top: 32px;
}

.nav-link:hover svg {
  color: #F26325;
}

.icon svg {
  width: 24px;
  height: 24px;
  color: var(--link-color);
  transition: 0.2s ease-in;
}

.right-side {
  margin-left: auto;
  flex-basis: 400px;
  height: 100%;
  padding: 16px;
  position: relative;
  transition: all 300ms cubic-bezier(0.19, 1, 0.56, 1);
}
.right-side.show {
  display: block;
  transform: translateX(0);
}

.chat-container {
  background-color: var(--chat-background);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 72px);
}

.chat-header {
  padding: 16px;
  border-bottom: 1px solid #f5f5f5;
}

.chat-header-button {
  background-color: var(--main-color);
  padding: 12px 16px 12px 40px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg' fill='%23fff'%3E%3Cpath d='M479.9 187.52l-90.19 68.53v-52.6a20 20 0 00-20-20H20a20 20 0 00-20 20V492a20 20 0 0020 20h349.71a20 20 0 0020-20v-52.6l90.18 68.52c13.05 9.91 32.1.67 32.1-15.92V203.45c0-16.5-18.94-25.92-32.1-15.93zM349.7 472H40V223.45h309.71zM472 451.68l-82.29-62.53V306.3L472 243.77zM87.96 79.24C129.62 28.88 190.86 0 256 0c65.13 0 126.37 28.88 168.03 79.24a20 20 0 01-30.82 25.5A177.6 177.6 0 00256 40a177.6 177.6 0 00-137.21 64.73 20 20 0 11-30.83-25.5zm240.36 32.21a20 20 0 11-21.02 34.03 97.57 97.57 0 00-51.3-14.53 97.6 97.6 0 00-51.31 14.53 20 20 0 11-21.02-34.03A137.53 137.53 0 01256 90.95c25.59 0 50.6 7.09 72.32 20.5zm0 0'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center left 12px;
  background-size: 16px;
  font-size: 14px;
}

.chat-area {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
}

.profile-picture {
  border-radius: 8px;
  width: 32px;
  height: 32px;
  overflow: hidden;
  margin-right: 12px;
  flex-shrink: 0;
}
.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.message-wrapper {
  display: flex;
}

.name {
  margin: 0;
  line-height: 16px;
  font-size: 12px;
  font-weight: 700;
  color: var(--message-text);
}
.timestamp{
  text-align:end;
  font-size: xx-small;
  color: gray;
  padding-top:2px;
}

.message {
  margin-top: 8px;
  background-color: var(--message-bg);
  padding: 8px 16px;
  border-radius: 0 12px 12px 12px;
  font-size: 12px;
  line-height: 16px;
  max-width: calc(100% - 32px);
  color: var(--message-text);
  overflow-wrap: break-word;
}

.message-wrapper {
  padding: 16px 0;
}
.message-wrapper.reverse {
  flex-direction: row-reverse;
}
.message-wrapper.reverse .message {
  background-color: var(--message-bg-2);
  color: #fff;
  margin-left: auto;
  border-radius: 16px 0px 16px 16px;
  max-width: calc(100% - 10px);
  overflow-wrap: break-word;
}
.message-wrapper.reverse .timestamp{
  text-align:end;
  font-size: xx-small;
  color: white;
  padding-top: 2px;
}
.message-wrapper.reverse .profile-picture {
  margin-right: 0px;
  margin-left: 12px;
}
.message-wrapper.reverse .name {
  text-align: right;
}

.message-file {
  border: 1px solid var(--message-bg);
  width: 100%;
  margin-top: 16px;
  border-radius: 4px;
  padding: 8px;
  display: flex;
}
.message-file .sketch {
  border-radius: 4px;
  padding: 2px;
  background-color: #fdeee2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}
.message-file .sketch svg {
  width: 20px;
  height: 20px;
}

.file-info {
  flex: 1;
  padding: 0 40px 0 8px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%23b8b8b8' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-download' viewBox='0 0 24 24'%3E%3Cpath d='M21 15v4a2 2 0 01-2 2H5a2 2 0 01-2-2v-4M7 10l5 5 5-5M12 15V3'/%3E%3C/svg%3E%0A");
  background-position: center right 12px;
  background-size: 20px;
  background-repeat: no-repeat;
  font-size: 12px;
}

.file-name {
  color: var(--message-text);
}

.file-size {
  color: #b8b8b8;
}

.mention {
  color: #7c80fd;
}

.chat-typing-area-wrapper {
  padding: 16px;
}

.chat-typing-area {
  display: flex;
  border-radius: 10px;
  padding: 8px;
  box-shadow: var(--navigation-box-shadow);
  background-color: var(--message-bg);
}
.dark .chat-typing-area {
  box-shadow: none;
}

.chat-input {
  border: none;
  font-size: 14px;
  line-height: 24px;
  outline: none;
  color: var(--message-text);
  flex: 1;
  background-color: transparent;
}
.chat-input:placeholder {
  color: var(--placeholder-text);
}

.send-button {
  color: #fff;
  background-color: var(--main-color);
  border-radius: 8px;
  border: none;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.send-button svg {
  width: 20px;
  height: 20px;
}

.app-main {
  flex: 1;
  width: 100%;
  padding: 72px 32px 16px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-call-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
}

.video-participant {
  width: 33.3%;
  height: 50%;
  position: relative;
}
.video-participant img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name-tag {
  position: absolute;
  bottom: 12px;
  right: 12px;
  font-size: 12px;
  color: #fff;
  background-color: rgba(0, 15, 47, 0.5);
  border-radius: 4px;
  padding: 4px 12px;
}

.participant-actions {
  position: absolute;
  display: flex;
  left: 12px;
  top: 12px;
}

.btn-mute, .btn-camera {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  z-index:300000;
  background-color: rgba(0, 15, 47, 0.5);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
  border: none;
}


.btn-mute {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-mic-off' viewBox='0 0 24 24'%3E%3Cpath d='M1 1l22 22M9 9v3a3 3 0 005.12 2.12M15 9.34V4a3 3 0 00-5.94-.6'/%3E%3Cpath d='M17 16.95A7 7 0 015 12v-2m14 0v2a7 7 0 01-.11 1.23M12 19v4M8 23h8'/%3E%3C/svg%3E%0A");
  margin-right: 4px;
}

.btn-camera {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-camera-off' viewBox='0 0 24 24'%3E%3Cpath d='M1 1l22 22M21 21H3a2 2 0 01-2-2V8a2 2 0 012-2h3m3-3h6l2 3h4a2 2 0 012 2v9.34m-7.72-2.06a4 4 0 11-5.56-5.56'/%3E%3C/svg%3E%0A");
}

.video-call-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 64px;
  max-width: 500px;
}

.video-action-button {
  background-repeat: no-repeat;
  background-size: 24px;
  border: none;
  height: 48px;
  margin: 0 8px;
  box-shadow: var(--navigation-box-shadow);
  border-radius: 8px;
  width: 48px;
  cursor: pointer;
  outline: none;
  background-color: var(--button-bg);
}
.video-action-button.mic {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%232c303a' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-mic-off' viewBox='0 0 24 24'%3E%3Cpath d='M1 1l22 22M9 9v3a3 3 0 005.12 2.12M15 9.34V4a3 3 0 00-5.94-.6'/%3E%3Cpath d='M17 16.95A7 7 0 015 12v-2m14 0v2a7 7 0 01-.11 1.23M12 19v4M8 23h8'/%3E%3C/svg%3E%0A");
  background-position: center;
}
.video-action-button.camera {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%232c303a' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-camera-off' viewBox='0 0 24 24'%3E%3Cpath d='M1 1l22 22M21 21H3a2 2 0 01-2-2V8a2 2 0 012-2h3m3-3h6l2 3h4a2 2 0 012 2v9.34m-7.72-2.06a4 4 0 11-5.56-5.56'/%3E%3C/svg%3E%0A");
  background-position: center;
}
.video-action-button.record {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bstroke:%23000000;stroke-width:12;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath class='st0' d='M256,496.1c-62.6,0-121.5-24.4-165.8-68.7C46,383.2,21.6,324.3,21.6,261.7S46,140.2,90.2,96 C134.5,51.7,193.4,27.3,256,27.3S377.5,51.7,421.8,96c44.3,44.3,68.7,103.1,68.7,165.8S466,383.2,421.8,427.5 C377.5,471.7,318.6,496.1,256,496.1L256,496.1z M256,54.8c-114.1,0-206.9,92.8-206.9,206.9S141.9,468.6,256,468.6 s206.9-92.8,206.9-206.9S370.1,54.8,256,54.8z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cpath class='st0' d='M256,367c-58.1,0-105.3-47.2-105.3-105.3S197.9,156.4,256,156.4s105.3,47.2,105.3,105.3S314.1,367,256,367z M256,183.9c-42.9,0-77.8,34.9-77.8,77.8s34.9,77.8,77.8,77.8s77.8-34.9,77.8-77.8S298.9,183.9,256,183.9z'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-position: center;
}
.video-action-button.screenshare {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 505.32 494.48'%3E%3Cdefs%3E%3Cstyle%3E.cls-1,.cls-2%7Bstroke:%23000;stroke-miterlimit:10;%7D.cls-1%7Bstroke-width:12px;%7D.cls-2%7Bstroke-width:20px;%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M470.63,189.59c-2.18.79-4,3.73-5.51,5.44-2.23,2.58-4.43,5.14-6.5,7.84-3.9,5.1-8.25,9.44-12.44,14.23l0,0c0,160.51.07,156.4,0,156.4H36.69V95.11H309a15.89,15.89,0,0,1,1.25-2,13.11,13.11,0,0,1,.28-1.3,31.7,31.7,0,0,1,2.21-5,61.51,61.51,0,0,1,6.6-9.79,113,113,0,0,1,7.62-8.72,12.12,12.12,0,0,1,1.53-1.27H36.69c-15,0-27.17,12.57-27.17,28V373.52c0,15.45,12.19,28,27.17,28H169.86v69.14H96.48a14,14,0,0,0,0,28H386.36a14,14,0,0,0,0-28H313V401.54H446.15c15,0,27.18-12.57,27.18-28V187.61A5.78,5.78,0,0,1,470.63,189.59ZM285.81,470.68H197V401.54h88.78Z' transform='translate(-3.52 -10.23)'/%3E%3Cpath class='cls-2' d='M493.31,91.73l-70.07-67.1c-3.05-2.92-6.16-4.4-9.25-4.4-4.3,0-9.31,3.08-9.31,11.75V73.36a89.21,89.21,0,0,0-56.49,24.81,82,82,0,0,0-25.46,59.31,80.69,80.69,0,0,0,5,28.11,5.23,5.23,0,0,0,9.72,0c10.25-27.76,36.86-47.1,67.21-49.4v40.94c0,8.67,5,11.75,9.31,11.75,3.09,0,6.2-1.48,9.24-4.39l70.08-67.11a17.64,17.64,0,0,0,0-25.65ZM486,110.39,415.94,177.5c-.33.31-.63.57-.88.77a9.23,9.23,0,0,1-.06-1.14V131a4.86,4.86,0,0,0-1.53-3.52,5.31,5.31,0,0,0-3.63-1.43h0A90,90,0,0,0,359,142.17,85.48,85.48,0,0,0,334,169.1a71.53,71.53,0,0,1-.94-11.62c0-40.59,34.47-74,76.85-74.43a5.05,5.05,0,0,0,5.1-4.94V32c0-.44,0-.82.06-1.13.25.2.55.45.88.76L486,98.72a8,8,0,0,1,0,11.67Z' transform='translate(-3.52 -10.23)'/%3E%3C/svg%3E");
    background-position: center;
  }

.video-action-button.endcall {
  color: #ff1932;
  width: auto;
  font-size: 14px;
  padding-left: 42px;
  padding-right: 12px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23ff1932' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-phone-missed'%3E%3Cline x1='23' y1='1' x2='17' y2='7'/%3E%3Cline x1='17' y1='1' x2='23' y2='7'/%3E%3Cpath d='M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z'/%3E%3C/svg%3E");
  background-size: 20px;
  background-position: center left 12px;
}
.video-action-button.magnifier {
  padding: 0 12px;
  display: flex;
  align-items: center;
  width: auto;
  flex-grow: 0;
  color: #2c303a;
}


.participants {
  display: flex;
  background-color: var(--button-bg);
  box-shadow: var(--navigation-box-shadow);
  margin-top: 16px;
  padding: 12px;
  border-radius: 8px;
  max-width: 232px;
  margin-left: auto;
}

.participant-more {
  background-color: #e1e0e1;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #636181;
  font-weight: 700;
  border-radius: 8px;
  min-width: 32px;
}

.mode-switch {
  z-index: 1;
  position: absolute;
  top: 20px;
  left: 36px;
  background-color: var(--chat-background);
  border: none;
  color: #ddd;
  outline: none;
  cursor: pointer;
  box-shadow: var(--navigation-box-shadow);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  transform-origin: center;
}
.mode-switch svg {
  width: 0;
  height: 24px;
  transition: all 0.3s ease-in;
  transform-origin: center;
}
.mode-switch .moon {
  opacity: 0;
}
.mode-switch .sun {
  width: 24px;
}

.dark .moon {
  opacity: 1;
  width: 24px;
}

.dark .sun {
  opacity: 0;
  width: 0;
}

.expand-btn {
  position: absolute;
  right: 32px;
  top: 24px;
  border: none;
  background-color: var(--chat-background);
  border-radius: 4px;
  padding: none;
  color: var(--message-text);
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: none;
}
.expand-btn.show {
  display: flex;
}

.btn-close-right {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 24px;
  right: 24px;
  color: var(--light-font);
  outline: none;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 900px) {
  .expand-btn {
    display: block;
  }

  .right-side {
    position: absolute;
    right: 0px;
    background-color: var(--chat-background);
    transform: translateX(100%);
    z-index: 2;
    width: 100%;
  }
  .right-side.show {
    transform: translateX(0);
  }

  .btn-close-right {
    display: block;
  }
}
@media screen and (max-width: 520px) {
  .left-side {
    display: none;
  }

  .app-main {
    padding: 72px 16px 16px 16px;
  }

  .expand-btn {
    right: 16px;
  }

  .mode-switch {
    left: 16px;
  }

  .video-call-actions {
    padding-top: 32px;
  }

  .video-action-button {
    width: 32px;
    height: 32px;
    background-size: 14px;
    margin: 0 4px;
  }

  .video-action-button.endcall {
    background-size: 14px;
    font-size: 12px;
    padding-left: 36px;
  }

  .video-action-button.magnifier svg {
    width: 14px;
  }

  .video-action-button.magnifier span {
    margin: 0 4px;
    font-size: 12px;
  }
}
@media screen and (max-width: 520px) and (max-height: 720px) {
  .video-participant {
    width: 50%;
    height: 33.3%;
  }
}